<div class="new-post-block">
    <form id="post-form">
        <ul class="title-author">
            <li class="single-element-form">
                <h1 class="title-form">Blog Post Title:</h1>
                <input type="text" value="" id="title"/>
            </li>
            <li>
                <h1 class="title-form">Enter Image URL:</h1>
                <input type="text" value="" id="image"/>
            </li>
            <li class="single-element-form">
                <h1 class="title-form">Author:</h1>
                <input type="text" value="" id="author" disabled>
            </li>
        </ul>

        <h1 class="title-form">Content:</h1>
        <textarea class="content-field" id="content"></textarea>
        <br>
        <button type="button" id="create-new-post-request-button">Publish</button>
    </form>
</div>

<footer>
    <p class="footer-text">&copy; Apeture, No Rights Reserved</p>
</footer>