<header class="blog-title">
    login
</header>

<div class="user-login-block">
    <form>
        <h1 class="form-title">Username:</h1>
        <input type="text" value="" id="username"/>
        <h1 class="form-title">Password:</h1>
        <input type="password" value="" id="password">
        <br>
        <button type="button" id="login-request-button">Login</button>
    </form>
    <a href="#/register" id="register">Register here</a>
</div>

<footer>
    <p class="footer-text">&copy; Apeture, No Rights Reserved</p>
</footer>