<header id="register-title" class="blog-title">
    register
</header>

<div class="user-login-block">
    <form class="user-register">
        <h1 class="form-title">Username:</h1>
        <input type="text" value="" id="username" />
        <h1 class="form-title">Full Name:</h1>
        <input type="text" value="" id="full-name" />
        <h1 class="form-title">Password:</h1>
        <input type="password" value="" id="password" />
        <h1 class="form-title">Confirm Password:</h1>
        <input type="password" value="" id="pass-confirm" />
        <br>

        <button type="button" id="register-register-button">Register</button>
    </form>
    <a href="#/login" id="login-register-button">Login here</a>
</div>

<footer>
    <p class="footer-text">&copy; Apeture, No Rights Reserved</p>
</footer>