<aside class="sidebar">
    <nav>
        <img src="images/logo.png" alt="">
        <ul>
            <li class="single-menu-element">
                <a href="#/" class="single-menu-element-link">
                    Home
                </a>
            </li>

            <li class="single-menu-element">
                <a href="#/posts/create" class="single-menu-element-link">
                    Create Post
                </a>
            </li>

            <li class="single-menu-element">
                <a href="#/logout" class="single-menu-element-link">
                    Logout
                </a>
            </li>
        </ul>

<!--         <hr>
        <h2 class="recent-posts-title">Recent Posts</h2>
        <hr>

        <ul class="recent-posts">
        </ul> -->
    </nav>
</aside>
<div class="jumbotron">
    <span>“A true photograph need not be explained, nor can it be contained in words.” Ansel Adam</span>
    <img src="images/camera-girl.jpg" alt="">
 </div>
<main class="main-content">
<!--     <header class="blog-title">
        <h3>home</h3>
    </header> -->

    <div class="recent-posts-tab">
        <!-- <h2 class="recent-posts-title">Recent Posts</h2> -->
        <div id="about-me">
            <img src="images/profile.jpg" alt="">
            <h1>About me</h1>
            <p>We love to take pictures, to travel, to laugh and to dream. To document stories as they unfold with all their smiles, tears, embraces, and special attributes.We love what we do and we do it with love...</p>
        </div>
        <ul class="recent-posts">
        </ul>
    </div>
    <ul class="articles" id="article">
    </ul>

    <script>
        $(document).ready(function() {
            $("main>div>ul").on('click', 'li:nth-of-type(1)', function() {
                $('html, body').animate({
                    scrollTop: $("#post-1").offset().top - 480
                }, 1000);
            });

            $("main>div>ul").on('click', 'li:nth-of-type(2)', function() {
                $('html, body').animate({
                    scrollTop: $("#post-2").offset().top - 30
                }, 1000);
            });

            $("main>div>ul").on('click', 'li:nth-of-type(3)', function() {
                $('html, body').animate({
                    scrollTop: $("#post-3").offset().top + 510
                }, 1000);
            });
        });
    </script>
</main>

<footer>
    <p class="footer-text">&copy; Apeture, No Rights Reserved</p>
</footer>
